.MuiTableContainer-root {
    width: 50% !important;
}

.new-account {
    background-color: darkseagreen  !important;
    color: white !important;
    margin-left : 60% !important;
    position: relative !important;
}

.new-business {
    border-style: outset;
    padding: 2% 2% 2% 2%;
    margin: 2% 70% 0 0;
}

.create-account {
    margin: 5% 0 2% 5% !important
}

.MultiTextField-root {
    margin: 0 !important
}

.grid-item {
    margin: 0 !important
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.loading {
    margin: 15% 5% 5% 15%;
}

.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

.create {
    margin-top:5%;
    color: rgba(50,51,50,0.89)
}